<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 对应接口的全路径 -->
<mapper namespace="com.yc.dao.FavoritesMapper">
	<!-- public int addCart(Favorites favorite); -->
	<insert id="addCart" parameterType="Favorites">
		insert into favorites values(null,#{cno},#{gno},#{fnum},now(),null,null)
	</insert>

	<!-- public List<Cart> getFavorite(Integer cno); -->
	<select id="getFavorite" parameterType="Integer" resultType="Cart">
		select fid,cno,favorites.gno,gname,tino,gprice,gnum,gimg,fnum from favorites,goods where favorites.gno = goods.gno and cno = #{cno}
	</select>

</mapper>